<div class="jumbtron py-3">
    <h1 class="display-4 text-center">FullName Register</h1>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <app-fullname-form></app-fullname-form>
    </div>
    <div class="col-md-6">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>Id</th>
            <th>Name</th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pd of service.list" >
            <td (click)="populateForm(pd)">{{pd.id}}</td>
            <td (click)="populateForm(pd)">{{pd.name}}</td>
            <td>
              <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.id)">
              </i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  