<form novalidate #form="ngForm" >
  <input type="hidden" name="paymentDetailId" [value]="service.formData.id" />
  <div class="form-group">
    <label>id</label>
    <input
      class="form-control form-control-lg"
      placeholder="id"
      name="id"
      #id="ngModel"
      required
      [class.invalid]="id.invalid && id.touched"
      [(ngModel)]="service.formData.id"
    />
  </div>
  <div class="form-group">
    <label>Name</label>
    <input
      class="form-control form-control-lg"
      placeholder="Name"
      name="name"
      #name="ngModel"
      required
      [class.invalid]="name.invalid && name.touched"
      maxlength="16"
      minlength="16"
      [(ngModel)]="service.formData.name"
    />
  </div>

  <div class="form-group">
    <button class="btn btn-info btn-lg btn-block" (click)="onSubmit(form)">Insert</button>
    <button class="btn btn-info btn-lg btn-block" (click)="onUpdate(form)">Update</button>
  </div>
</form>
